<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="principal.html"><img src="assets/logos/logo1.jpg" width="100px" class="ml-5"
            id="logo"></a>
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active mr-3">
                <!-- To do: añadir urls -->
                <a class="nav-link" href="">
                    <h5>Inicio</h5>
                </a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="https://nataliamr17.github.io/CMV_Publico/">
                    <h5>Repositorio</h5>
                </a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link"
                    href="https://drive.google.com/file/d/1g_VyoKNEIQUaAcs-G31zXoY7L9tjABWN/view?usp=sharing">
                    <h5>Videos</h5>
                </a>
            </li>
            <li class="nav-item mr-3">
                 <a class="nav-link" href="#form" data-bs-toggle="modal" data-bs-target="#exampleModal">
                 <h5>Contacta</h5></a>
             </li>
            
        </ul>

        <div class="header__search" id="top-search">
            <div class="show-search">
                <div class="show-search__content">
                    <form method="get" class="search-form" action="">
                        <label> <a class="search-click"><i class="fa fa-search"></i></a>
                            <input id="penci-header-search" type="search" class="search-field"
                                placeholder="Buscar" value="" name="s" autocomplete="off">
                        </label>
                        <button type="submit" class="search-submit">Buscar</button>
                    </form>
                    <div class="penci-ajax-search-results">
                        <div id="penci-ajax-search-results-wrapper" class="penci-ajax-search-results-wrapper"></div>
                    </div>
                </div>
            </div>
            <div class="header_social-media">
                <div class="header_content-social-media">
                    <a href="https://www.facebook.com/" target="_blank"><img src="assets/imgs/facebook.png" alt="facebook"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="assets/imgs/insta.png" alt="intagram"></a>
                    <a href="https://twitter.com/" target="_blank"> <img src="assets/imgs/twit.png" alt="twitter"></a>
                    <a href="https://www.youtube.com/" target="_blank"><img src="assets/imgs/yout.png" alt="youtube"></a>
                    <a href="https://web.whatsapp.com/" target="_blank"> <img src="assets/imgs/whatsapp.png" alt="whatsapp"></a>
                    
                   
                    
                   
                </div>
            </div>

        </div>
    </div>
</nav><br>