<div class="wrap">
    <input type="number" [(ngModel)]="value" class="searchTerm" placeholder="Buscar por año...">
    <button class="boton" (click)="onSearch()">Buscar por año...</button>

    <input type="string" [(ngModel)]="value" class="searchTerm" placeholder="Buscar por titulo...">
    <button class="boton" (click)="onSearchT()">Buscar por título...</button>
    <button class="boton" (click)="onReset()">Eliminar filtro</button>
    <!-- <button class="btn btn-danger" (click)="rojo()">Interfaz Roja</button>
    <button class="btn btn-warning" (click)="amarillo()">Interfaz Amarilla</button> -->
    <!-- <div class="content {{storedTheme}}" role="main">
        <div class="theme-options">
            <div class="theme-white" (click)="setTheme('theme-white')"></div>
            <div class="theme-blue" (click)="setTheme('theme-blue')"></div>
            <div class="theme-orange" (click)="setTheme('theme-orange')"></div>
            <div class="theme-purple" (click)="setTheme('theme-purple')"></div>
            <div class="theme-green" (click)="setTheme('theme-green')"></div>
            <div class="theme-black" (click)="setTheme('theme-black')"></div>
        </div>
    </div> -->

</div>