*{
  box-sizing: border-box;
}

button {
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  border-radius: 5px;
  margin: 10px 10px 10px 10px;

}

.dia {
  color: rgba(33,36,41,255);
  background-color: #fff;

 }
.noche {
  color: #fff;
  background-color: rgba(33,36,41,255);
 }
 .noche button{
   background-color: #fff;
   color: rgba(33,36,41,255);
 }
 