*{
  box-sizing: border-box;
}

button {
  background-color: rgba(0, 0, 0, 0.836);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.dia {
  color: black;
  background-color: #CDEDF6;
 }
.noche {
  color: white;
  background-color: #202124;
 }