<footer class="page-footer font-small-dark bg-dark pt-4" >

    <div class="container-fluid text-center text-md-left" id="footer">
        <div class="row">
            <div class="col-sm text-center">

                <h5 class="text-uppercase"><strong> PELICULAS MINDF... </strong></h5>
                <p>Si te gustan las películas que te dejan loco, esta es tu web!</p>
                <p>¡Tu web para elegir buenas películas!</p>
               
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-sm text-center">
                <img src="assets/logos/logo1.jpg" width="80px" class="ml-3" id="logo">
            </div>
            <div class="col-sm text-center">

            <h5 class="text-uppercase"><strong>Nuestras RRSS</strong></h5>
                <a href="https://www.facebook.com/" target="_blank"><img src="assets/imgs/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="assets/imgs/insta.png" alt="intagram"></a>
                <a href="https://twitter.com/" target="_blank"> <img src="assets/imgs/twit.png" alt="twitter"></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="assets/imgs/yout.png" alt="youtube"></a>
                <a href="https://web.whatsapp.com/" target="_blank"> <img src="assets/imgs/whatsapp.png" alt="whatsapp"></a>
            </div>
        </div>
    </div>
</footer>